//  Colors
$Pink: #ff52bf;
$Very-Pale-Cyan: #ebfbff;
$Very-Dark-Cyan: #00252e;
$Grayish-Blue: #808d99;
$White: #ffffff;

//  Fonts
$Header-Family: 'Poppins',sans-serif ;
$Header-Weight:700;
$Header-color: $Very-Dark-Cyan;

$H1-Size-Mobile:2.3rem;
$H1-Line-Mobile:$H1-Size-Mobile;
$H1-Size:3.8rem;
$H1-Line:5.9rem;

$H2-Size-Mobile:2rem;
$H2-Line-Mobile:$H2-Size-Mobile;
$H2-Size:2.8rem;
$H2-Line:$H2-Size;

$Body-Family: 'Open Sans', sans-serif;
$Body-Weight:400;
$Body-color: $Grayish-Blue;

$Body-Size-Mobile:1.4rem;
$Body-Line-Mobile:2.1rem;
$Body-Size:1.8rem;
$Body-Line:2.7rem;


//  Query-layout
$Query-minw:375px;
$Query-Tablet: 650px; 
$Query-PC:1240px;
$Query-Maxw:1308px;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $Body-Family;
    background-color: $White;
    font-size: $Body-Size-Mobile; 
    line-height: $Body-Line-Mobile;
    text-align: center;
    
    @media screen and (min-width:$Query-Tablet) {
        font-size: $Body-Size; 
        line-height: $Body-Line;
        text-align: left;
    }
}

h1 {
    font-family: $Header-Family;
    font-size: $H1-Size-Mobile; 
    line-height: 3.6rem;
    
    @media screen and (min-width:$Query-Tablet) {
        font-size: $H1-Size; 
        line-height: 5.9rem;
    }
}

h2, h3, h4, h5, h6 {
    font-family: $Header-Family;
    font-size: $H2-Size-Mobile; 
    line-height: $H2-Line-Mobile;
    
    @media screen and (min-width:$Query-Tablet) {
        font-size: $H2-Size; 
        line-height: $H2-Line;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}