@import 'globals';
@import 'mixins';

//  Elements
@import './components/header';
@import './components/buttons';
@import './components/footer';

.wrapper-hero {
    min-height: 72rem;
    padding-block-end: 3.8rem;
    background-color: $Very-Pale-Cyan;
    background-image: url('/huddle-alternative/assets/img/bg-hero-mobile.svg');

    @media screen and (min-width:$Query-Tablet) {
        background-image: url('/huddle-alternative/assets/img/bg-hero-desktop.svg');

    }
}

.hero {
    @include  width-container;
    @include flex-container (column,column);
    min-height: 100%;
    margin-block-start: 4.5rem;


    
    @media screen and (min-width: 1240px) {
        flex-direction: row;
        margin-block-start: 1rem;
    }

  
    
    &__info {
        text-align: center;
        margin: 0 auto;

        @media screen and (min-width:$Query-Tablet) {
            margin-block-start: 0rem;
            width: 50rem;
        }

        @media screen and (min-width:$Query-PC) {
            margin: 0;
            text-align: start;
            align-self: start;
            margin-block-start: 10rem;
        }
    }

    &__title {
        @include text-width;

        @media screen and (min-width:$Query-Tablet) {
            width: 50rem;
        }
    }

    &__text {
        @include text-width ;
        margin-block: 3rem;
    }

    &__media {
        max-width: 100%;
        margin-block-start: 5rem;

        @media screen and (min-width:$Query-Tablet) {
            max-width: 68rem;
        }

        @media screen and (min-width:$Query-PC) {
            margin-block-start: 0rem;
        }
    }
}

.section__card-container {
    @include width-container;
    min-width: 33.4rem;
    padding-block: 3.7rem 12rem;

    @media screen and (min-width:$Query-PC) {
        padding-block: 12rem;
    }

    .section__card {
        @include flex-container (column,row, center, center);
        flex-wrap: nowrap;
        max-height: 49.1rem;
        margin: 1.9rem auto;
        padding: 4rem;
        border-radius: 1.4rem;
        box-shadow: 0px 0px 12px #e4e4e4;

        @media screen and (min-width:$Query-Tablet) {
            max-width: 80rem;
            justify-content: space-between;
            gap: 2rem;
        }

        @media screen and (min-width:$Query-PC) {
            padding-block: 6rem 4rem;
            max-height: 44.5rem;
            max-width: 100%;
        }
    }

    .section__card__img {
        width: 25rem;
        height: 21.4rem;

        @media screen and (min-width:$Query-Tablet) {
            min-width: 40%;
        }

        @media screen and (min-width:$Query-PC) {
            width: 42.6rem;
            height: 32.1rem;
        }
    }

    .section__card__info {
        @media screen and (min-width:$Query-Tablet) {
            max-width: 48rem;
            text-align: start;
        }        
    }

    .section__card__title {
        margin-block: 5rem 2.4rem;
        color: $Very-Dark-Cyan;

        @media screen and (min-width:$Query-Tablet) {
            margin-block: 0 3rem;
        }
    }

    .section__card__text {
        color: $Grayish-Blue;
    }



}

.section__card:nth-child(2n+1) {
    @media screen and (min-width:$Query-Tablet) {
        flex-direction: row-reverse!important;
    }
}

.wrapper--cta {
    @include width-container;
}

.section__cta {
    @include flex-container (column,column, center,center);

    margin: 0 auto;
    max-width: 35.3rem;
    max-width:50rem;
    min-height: 17rem;
    border-radius: 1.2rem;
    box-shadow: 0px 0px 12px #e4e4e4;

    @media screen and (min-width:$Query-Tablet) {
        text-align: center;
        height: 27rem;
        max-width:80rem;
    }

    .section__title {
        font-size: 1.8rem;

        @media screen and (min-width:$Query-Tablet) {
            font-size: 3.2rem;
        }
    }

    .button__cta {
        margin-block-start: 4rem;
    }

}