*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
@media screen and (min-width: 700px) {
  body {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}

h1 {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  font-size: 2.3rem;
  line-height: 2.3rem;
}
@media screen and (min-width: 700px) {
  h1 {
    font-size: 3.8rem;
    line-height: 3.8rem;
  }
}

h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  font-size: 2rem;
  line-height: 2rem;
}
@media screen and (min-width: 700px) {
  h2, h3, h4, h5, h6 {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  width: 24.2rem;
  height: 4.1rem;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  border-radius: 2.9rem;
}
@media screen and (min-width: 700px) {
  .button {
    width: 28.2rem;
    height: 5.7rem;
    font-size: 1.5rem;
  }
}

.button-main {
  background-color: #ff52bf;
  color: white;
}

.button-alt {
  width: 9.8rem;
  height: 2.7rem;
  font-size: 1rem;
  background-color: #ffffff;
  color: #00252e;
}
@media screen and (min-width: 700px) {
  .button-alt {
    width: 2.3rem;
    height: 4.9rem;
    font-size: 1.5rem;
  }
}